---
http_interactions:
- request:
    method: get
    uri: https://www.mokhan.ca/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Fri, 15 Apr 2022 22:55:18 GMT
      Etag:
      - W/"6259f7d6-d86"
    body:
      encoding: ASCII-8BIT
      string: |+
        <!DOCTYPE html>
        <html lang="en-US">
          <head>
            <meta charset='utf-8'>
            <title>mo khan</title>
            <meta http-equiv="Pragma" content="no-cache">
            <meta http-equiv="Referrer-Policy" content="origin">
            <meta http-equiv="X-Content-Type-Options" content="nosniff">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="author" content="xlgmokha" />
            <meta name="description" content="Hello, my name is mo.
        " />
            <meta name="referrer" content="no-referrer">
            <meta name="twitter:card" content="Hello, my name is mo.
        " />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta property="og:description" content="Hello, my name is mo.
        " />
            <meta property="og:locale" content="en-US" />
            <meta property="og:site_name" content="mo khan" />
            <meta property="og:title" content="mo khan" />
            <meta property="og:url" content="https://www.mokhan.ca/" />
            <meta property="twitter:title" content="mo khan" />
            <link rel="canonical" href="https://www.mokhan.ca/">
            <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/assets/images/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
            <link rel="manifest" href="/site.webmanifest">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="theme-color" content="#ffffff">
            <link rel="stylesheet" type="text/css" href="/assets/application-5a10ab453e3aa19da8ab325c58fde485cb08d3b4c2b396c7aa748e935f21e1e6dc37a625d0a0d346dffb9479b3537692c9c1dc0eda0011156d2cc3c7897fae6d.css">
            <script type="application/ld+json">
              {"description":"Hello, my name is mo.
        ","url":"https://www.mokhan.ca/","@type":"WebSite","publisher":{"@type":"Organization","name":"xlgmokha"},"author":{"@type":"Person","name":"xlgmokha"},"headline":"mo khan","name":"mo khan","@context":"https://schema.org"}
            </script>
          </head>
          <body>
            <main id="main">
              <div class="container">
                <section>
                  <h1 id="hello-my-name-is-mo">Hello, my name is mo.</h1>

        <p>I write about <a href="/ls/dev/random/">programming</a>,
        <a href="/ls/dev/ops/">operations</a>,
        <a href="/ls/dev/disk/">databases</a>,
        the <a href="/ls/dev/net/">web</a>,
        and <a href="/ls/dev/video/">other things</a>.</p>

                </section>
              </div>
            </main>
            <footer>
              <img class="image center" integrity="sha512-sbxrYRh6EapLiI3Xm8+aXn7NjcUDkdj6nWEcUQvsEGG49ZVc8UXBwo1QzU48+eqkWwjzCmgbH4KVlnz79rG8VA==" crossorigin="anonymous" src="/assets/d574e6-f1bbb4205e9bff33f9e52dae91dc114983ae3451d81ade8e0ef9f9a7ea488cfd1f2113e80d7de27001c643ff9c8b9c2fd3ed1c336d36dfc9cdaf77ab0763b3a8.jpg">
              <p class="text-center">I value creativity, continuous improvement, and privacy.</p>
              <p class="text-center">
                <a href="https://github.com/xlgmokha/">GitHub</a> |
                <a href="https://www.linkedin.com/in/xlgmokha/">LinkedIn</a> |
                <a href="https://rubygems.org/profiles/xlgmokha">RubyGems</a> |
                <a href="https://www.speakerdeck.com/xlgmokha/">Speaker Deck</a>
              </p>
              <p class="text-center">
                &copy; 2004-2022 mo khan. All rights reserved.
              </p>
            </footer>
          </body>
        </html>
        <!--
         _____
        < moo >
         -----
                \   ^__^
                 \  (oo)\_______
                    (__)\       )\/\
                        ||----w |
                        ||     ||
        -->

  recorded_at: Tue, 03 May 2022 23:02:51 GMT
recorded_with: VCR 6.1.0
